a {
  color: black;
}

header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 10px 30px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: MediumAquamarine;
}

.logo img {
  margin-right: 12px;
}

nav span {
  padding: 20px 10px;
}

.mainBody {
  width: 1230px;
  margin: 0 auto;
  margin-bottom: 300px;
  padding-top: 50px;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

#columnOne {
  width: 630px;
}

#columnTwo {
  width: 300px;
  flex-wrap: wrap;
}

#columnThree {
  width: 240px;
}

#treeGirl {
  background-image: url("photos/tree girl.png");
}

#cameraGuy {
  background-image: url("photos/camera guy.png");
}

#catGirl {
  background-image: url("photos/cat girl.png");
}
#fbi {
  height: 410px;
}

#cameraGuy,
#catGirl,
#treeGirl {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
}

.featurePicture {
  background-image: url("photos/dinner table.png");
  height: 300px;
  width: 630px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  font-size: 40px;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
}

.story {
  height: 300px;
  width: 300px;
}

.storyFlexContainer {
  height: 630px;
  width: 630px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
}

.newsBites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.linkList {
  background-color: WhiteSmoke;
  color: DimGray;
  display: flex;
  flex-wrap: wrap;
}

.listItem {
  width: 220px;
  font-family: Verdana;
  font-size: 12px;
  padding: 15px;
  border-bottom: 1px solid black;
}
