div {
  border: 1px solid black;
}

a {
  color: black;
}

header {
    display: flex;
    align-items: center;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 10px 30px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: MediumAquamarine;
}

.logo img {
  margin-right: 12px;
}

nav span {
  padding: 20px 10px;
}

.main_container {
  width: 1230px;
  margin: 0 auto;
  margin-bottom: 300px;
  padding-top: 50px;
  display: flex;

}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
width: 630px;
}

.column.med {
width: 300px;
}

.column.small {
width: 240px;
}
